.desktop-1 {
  display: flex; /* Use flexbox to align children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: flex-start;
  padding-top: 3rem;
  width: 100%;
  

  position: relative;
  background-color: #000000;

  overflow: hidden;
}
