.worksection {
  display: flex; /* Use flexbox to align children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  /* center children vertically */
  justify-content: center;

  padding-top: 10rem;

  width: 100%;
  height: 100vh;
  background-color: #000;

  overflow: hidden;
  text-align: left;
  font-size: 4rem;
  color: var(--basic-white);
  font-family: var(--inter-18-medium);
}
.work-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%; /* Makes sure it stretches to the full width of its parent */
  max-width: 100vw; /* Optional: ensures it does not exceed the viewport width */
  position: relative;

}

.work {
  
  top: 8.375rem;
  left: 13.063rem;
}