.worksection {
  display: flex; /* Use flexbox to align children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center;

  padding-top: 5rem;

  width: 100%;
  height: 100vh;

  overflow: hidden;
  text-align: left;
  font-size: 4rem;
  color: var(--basic-white);
  font-family: var(--inter-18-medium);
}
.work-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%; /* Makes sure it stretches to the full width of its parent */
  max-width: 100vw; /* Optional: ensures it does not exceed the viewport width */
  position: relative;
  scroll-behavior: smooth;
}
.work-container::-webkit-scrollbar {
  display: none;
}
.work {
  font-size: 5rem; 
}

@media screen and (max-width: 450px) {
  .worksection {
    display: none;
    padding-top: 2;
  }
  .work {
    font-size: 3rem;
  }
}
