.faceemoji-icon {
  width: 2.5rem;
  position: relative;
  height: 2.5rem;
  object-fit: cover;
  mix-blend-mode: normal;
}
.about {
  position: relative;
  font-weight: 500;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 2.5rem;
}
.linkedin-icon,
.x-icon {
  width: 1.375rem;
  position: relative;
  height: 1.375rem;
}
.x-icon {
  width: 1.348rem;
  height: 1.219rem;
}
.github-icon,
.line {
  width: 1.494rem;
  position: relative;
  height: 1.469rem;
}
.line {
  width: 0.063rem;
  border-right: 1px solid var(--dark-white-25);
  box-sizing: border-box;
  height: 1.563rem;
}
.whitespace {
  width: 2.75rem;
  height: 1.313rem;
}
.navbar,
.socialicons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.socialicons {
  justify-content: center;
  gap: 0 1.5rem;
  opacity: 0.7;
}
.navbar {
  position: absolute;
  height: 5.86%;
  width: 71.11%;
  top: 3.61%;
  right: 14.44%;
  bottom: 90.53%;
  left: 14.44%;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  backdrop-filter: blur(4px);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-base);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--inter-16-medium-size);
  color: var(--basic-light-gray);
  font-family: var(--inter-18-medium);
}
