@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --inter-18-medium: Inter;

  /* font sizes */
  --inter-18-medium-size: 1.125rem;
  --inter-24-medium-size: 1.5rem;
  --inter-80-extra-bold-size: 5rem;
  --inter-16-medium-size: 1rem;

  /* Colors */
  --basic-white: #fff;
  --basic-dark-gray: #808080;
  --dark-white-25: rgba(255, 255, 255, 0.25);
  --color-gray-100: rgba(24, 24, 29, 0.3);
  --basic-light-gray: #c5c5c5;

  /* Gaps */
  --gap-21xl: 2.5rem;
  --gap-0: 0rem;

  /* Paddings */
  --padding-17xl: 2.25rem;
  --padding-base: 1rem;
  --padding-13xl: 2rem;

  /* Border radiuses */
  --br-331xl: 350px;
  --br-4xs: 9px;
  --br-xs: 12px;

  /* Effects */
  --dark-button-shadow: 0px 1px 2px rgba(255, 255, 255, 0.02) inset,
    0px 2px 4px rgba(255, 255, 255, 0.08) inset, 0px 7px 4px rgba(0, 0, 0, 0.15);
}
