.countries-icon {
  position: absolute;
  top: 2rem;
  right: 3rem;
  width: 25.563rem;
  object-fit: cover;
  transition: 1s;
}
.countries-icon:hover {
  transform: translateY(-0.5rem);
  scale: 1.01;
}