#visionOS-graphic {
  position: absolute;
  right: -.5rem;
  height: 22rem;
  object-fit: contain;
  padding-top: 6.5rem;
  transition: 1s;
}
#visionOS-graphic:hover {
  transform: translateX(-0.5rem);
  scale: 1.02;
}