.quizCraft-graphic {
  position: absolute;
  right: -.5rem;
  height: 29rem;
  object-fit: contain;
  padding-top: 3.5rem;
  transition: 1s;
}
.quizCraft-graphic:hover {
  transform: translateX(-0.5rem);
  scale: 1.02;
}