@media screen and (max-width: 450px) {

    .project-card {
        max-width: 25%;
        overflow: scroll;
        /* max-height: 50%; */
    }
    .description {

    }


    .phone-icon3, .phone-icon, .phone-icon2, .phone-icon-countries, .phone-icon-munchMap {
        display: none;
    }
}
